version: '3.9' 
services:
  123bot:
    privileged: true
    container_name: 123bot
    image: dinding1/123bot:0.3.1
    restart: always
    network_mode: host
    environment:
      - TZ=Asia/Shanghai
      - TG_BOT_TOKEN=机器人TOKEN
      - TG_ADMIN_USER_IDS=管理员
      - PAN_CLIENT_ID=123API
      - PAN_CLIENT_SECRET=123API
      - DEFAULT_SAVE_DIR=123待整理目录就是文件中转目录
      - EXPORT_BASE_DIR=默认媒体库目录
      - SEARCH_MAX_DEPTH=迭代深度、参考以前教程
      - STRM_SERVICE_URL=http://172.17.0.1:8123 #直链服务地址
      - HTTP_PROXY=代理
      - NO_PROXY= 172.17.0.1,127.0.0.1,localhost,open-api.123pan.com
      - HTTPS_PROXY=代理
      #115CK
      - P115_COOKIE=115CK
      - TARGET_CID=115转存目录CID
    volumes:
      - /vol2/1000/docker/123bot/data:/data #数据库位置
      - /vol2/1000/docker/123bot/media:/media #STRM保存位置


#目前生成STRM只能全量，而且很慢，适合小空间用户，或者没会员的用户。
#生成完STRM 生成的STRM文件信息会备份到数据库，以后可以从数据库恢复STRM，不用再全量。
#可以从数据库生成JSON文件。
#直链服务的账号可以不等于媒体库账号（自己悟）